In [1]:
from checks import TestAssignment

TestAssignment.make_notebook('testassignment')

Building notebook in /home/kristian/Documents/github/checks

In [70]:
import pandas as pd 

data = pd.read_csv('checksWeb/testdata.csv')

In [2]:
x = {}

In [4]:
list(x.keys())

[]

In [79]:
data

       ID  problem  status
0  asd123        1   False
1  asd123        2   False
2  dsa321        1    True
3  dsa321        2   False